nav body{
    margin: 0;
    padding: 0;
    font-family:'Archivo Narrow', sans-serif;;
    font-size: large;
}

#hamnav{
    background-color: #C229A1;
    color:white;
    font-family: 'Archivo Narrow', sans-serif;;
    font-size: large;
    list-style-type: none;
    text-align:center;
    padding: 0;
       
}
#hamnav > li{
    display: inline-block;
    padding: 5px 20px 5px; 
    position: relative;
    text-align: center;
}
#hamnav > li > a{
    text-decoration: none;
    color: white;
    width: 100%;
}
#hamnav > li > a:hover{
    color: #DBA713;
}
#hamnav > li > ul{
    display:none;
    position: absolute;
    background-color: #C229A1;
    color:white;
    font-family: 'Archivo Narrow', sans-serif;;
    list-style-type: none;
    text-align:left;
    padding:0;
    float: left;
}
#hamnav > li:hover ul{
    display:block;
}
#hamnav > li:hover ul{
    width:150px;
}
#hamnav > li > ul li a{
   text-decoration: none;
    color: white;
    font-family: 'Archivo Narrow', sans-serif;;
    list-style-type: none;
}
#hamnav > li > ul li a:hover{
    color: #DBA713;
}
#hamburger {
    display: inline-flex;
    padding-left: 5px;
    width: 26px;
    font-size: 2em;
    color: #C229A1;}
}

@media only screen and (max-width: 350px) {
        nav {display: none;}
        #hamnav {display: none;}
        
        #hamburger {
            display: inline-block;
            padding-left: 5px;
            width: 26px;
            font-size: 2em;
            color: #C229A1;}
        }