.item-a {
    grid-area: header;
    background-color:#05F2DB;
    border-width: 10px;
    border-color: #F2CF66;
    padding: 10px;
    margin: 0;
    color:white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item-b {
    grid-area: nav;
}
.item-c {
    grid-area: image;
    background-color:#F2F2F2;
    border-width: 10px;
    border-color: #F2CF66;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 10%;
    margin-right: 10%;
    outline: none;
    text-align: left;
}
.item-d {
    grid-area: main;
    background-color:#F2F2F2;
    border-width: 10px;
    border-color: #F2CF66;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: #585858;
    outline: none;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item-e {
    grid-area: links;
    background-color:#F2F2F2;
    color: #585858;
    outline: #05F2DB;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item-f {
    grid-area: footer;
    background-color:#7C7C7C;
    color: white;
    outline: #05F2DB;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 960px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 
        "header header header header header header header header header"
        "header header header header header header header header header"
        "nav nav nav nav nav nav nav nav nav"
        ". . . . . . . . ."
        ". image image image main main main main ."
        ". image image image main main main main ."
        ". image image image main main main main ."
        ". image image image main main main main ."
        ". . . links links links . . ."
        ". . . . . . . . ."
        "footer footer footer footer footer footer footer footer footer";
}


.first-child::first-letter {
    font-weight: bold;
    font-size: 150%;
}

@media screen and (max-width: 959px) {
    .container {
        width: 100%
    }
    .item-a {
        width: 100%%;
    } 
    .item-b {
        width: 100%;
    }    
    .item-c {
        width: 30%;
    } 
    .item-d {
        width: 70%;
    } 
}
@media screen and (max-width: 959px) {
    .item-a {
        width: 100%;
    } 
    .item-b {
        width: 100%;
    }    
    .item-c {
        width: 100%;
    } 
    .item-d {
        width: 100%;
    } 
}

@media only screen and (max-width: 640px) {
    header {
        position: relative;
        width: 100%
    }
    image {
        position: relative;
        width: 100%    
    }
   footer {
       position: relative;
       width: 100%
       text-align: center;
       padding: 0;
       margin: 0;
    }